*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;


}

body{
   
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.back{
    padding: 32px 0;
    background-color: #000000;
    box-shadow: 1px 1px 30px #6710a0
}
.navbar ul li{

    position: relative;
    float: left;

}

.navbar ul li a{
    font-size: 18px;
    padding: 9px;
    display: block;
    color:   rgb(255, 255, 255);
    

}
.navbar ul li a:hover{
    color: rgb(89, 11, 153);
}

.titulo{
    margin: 15px;
    width: 50%;
    background: transparent;
    padding:10px ;
    border-radius: 4px;
    font-size: 18px;
    color:#6710a0;
    }

.lista{
    margin: 15px;
    width: 50%;
    background: transparent;
    padding:10px ;
    border-radius: 500px;
    font-size: 18px;
    color:#6710a0;
}   